name: Tests

env:
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    name: ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - { rust: stable, os: macOS-latest }
        - { rust: stable, os: ubuntu-latest }
        - { rust: nightly, os: ubuntu-latest }
    steps:
    - uses: actions/checkout@v2

    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
        components: clippy, rustfmt

    - uses: Swatinem/rust-cache@v1

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.7"

    - run: ./scripts/ci.sh "${{ matrix.rust }}" "${{ matrix.os }}"
